<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943488609818-ujdjcigvnh0mqsq7ojs3jbe1053iljkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943488609818-ujdjcigvnh0mqsq7ojs3jbe1053iljkd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943488609818-4r2u2m8a293blnbll5k7k349d2rusda7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAKIPAd5G363nNR064kzJcqskzfPapIZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>943488609818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Fetch-redux</string>
	<key>PROJECT_ID</key>
	<string>shopease-c5575</string>
	<key>STORAGE_BUCKET</key>
	<string>shopease-c5575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943488609818:ios:f2784785ea4325f0bfaba3</string>
</dict>
</plist>